---
layout: default
---

<style>
    .card-container {
        display: grid;
        grid-template-columns: repeat({{page.gs}}, 1fr);
        gap: 5px;
    }

    .card {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
</style>

<div class="container">
    <div class="text-center heading">
        <p>Score: <span id="score">0</span></p>
        <div class="card-container mt-4" id="game-board"></div>
        <button class="btn btn-primary mt-2" id="reset-button">Reset</button>
    </div>
</div>
{{ content }}
<script>
    const gameBoard = document.getElementById('game-board');
    const resetButton = document.getElementById('reset-button');
    const scoreDisplay = document.getElementById('score');
    let cards = [];
    let flippedCards = [];
    let matches = 0;
    let score = 0;
    let moves = 0;

    function incrementScore() {
        moves++;
        scoreDisplay.textContent = moves;
    }

    // Shuffle the card order
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }
    // Reset the game
    function resetGame() {
        gameBoard.innerHTML = '';
        cards = [];
        flippedCards = [];
        matches = 0;
        score = 0;
        moves = 0;

        scoreDisplay.textContent = score;
        initializeBoard();
    }

    // Initialize the game board and button click event
    initializeBoard();
    resetButton.addEventListener('click', resetGame);
</script>