---
layout: default
---
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-success" id="startGame" onclick="startGame()">Start Game</button>
        </div>
    </div><br>
    <div class="row d-flex justify-content-center">
        <div class="col alert alert-success mt-3 d-none col-6 text-center" id="winDeclaration"></div>
    </div>
    <div class="row p-4">
        <div class="col table-responsive">
            <table class="mx-auto table-bordered" id="grid"></table>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col col-4" id="gameValues">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="col-4 text-nowrap">Timer</td>
                        <td class="col-1 text-nowrap">:</td>
                        <td class="col-4 text-nowrap"><span id="timer" class="blink big-timer text-danger"></span>
                            seconds remaining</td>
                    </tr>
                    <tr>
                        <td class="col-4 text-nowrap">Correct Answers</td>
                        <td class="col-1 text-nowrap">:</td>
                        <td id="correctAnswers" class="col-4 text-nowrap"></td>
                    </tr>
                    <tr>
                        <td class="col-4 text-nowrap">Wrong Answers</td>
                        <td class="col-1 text-nowrap">:</td>
                        <td id="wrongAnswers" class="col-4 text-nowrap"></td>
                    </tr>
                    <tr>
                        <td class="col-4 text-nowrap">Total Numbers Present</td>
                        <td class="col-1 text-nowrap">:</td>
                        <td id="totalTypedNumbers" class="col-4 text-nowrap"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center" id="resetButton" onclick="resetGame()">
            <button class="btn btn-danger" id="resetGame">Rest Game</button>
        </div>
    </div>
</div>
<br>

{{ content }}

<script>
    var n = gs || 6;
    var timer = t || 60;
    const grid = document.getElementById("grid");
    const timerDisplay = document.getElementById("timer");
    const correctAnswersDisplay = document.getElementById("correctAnswers");
    const wrongAnswersDisplay = document.getElementById("wrongAnswers");
    const totalNumsDisplay = document.getElementById("totalTypedNumbers");
    const winDeclarationDisplay = document.getElementById("winDeclaration")

    let correctAnswers = 0, wrongAnswers = 0, totalTypedNumbers = 0;
    let numbers = [], ourNumbers = [];
    let interval;
    let gameOver = false;
    resetButton.style.display = "none";
    gameValues.style.display = "none";


    function resetGame() {
        clearInterval(interval);
        timer = t;
        generateGrid(n);
        correctAnswers = 0;
        correctAnswersDisplay.innerText = correctAnswers;
        wrongAnswers = 0;
        wrongAnswersDisplay.innerText = wrongAnswers;
        gameOver = false;
        winDeclarationDisplay.innerHTML = "";
        winDeclarationDisplay.classList.add("d-none");
        interval = setInterval(countdown, 1000);
    }
    function startGame() {
        clearInterval(interval);
        resetButton.style.display = "block";
        gameValues.style.display = "block";
        timer = t;
        generateGrid(n);
        correctAnswers = 0;
        correctAnswersDisplay.innerText = correctAnswers;
        wrongAnswers = 0;
        wrongAnswersDisplay.innerText = wrongAnswers;
        gameOver = false;
        winDeclarationDisplay.innerHTML = "";
        winDeclarationDisplay.classList.add("d-none");
        interval = setInterval(countdown, 1000);
    }

    function generateRandomNumbers(n = 70, maxN = 999) {
        return new Array(n).fill(1).map(x => Math.floor(Math.random() * maxN))
    }
    function shuffleArray(array) {
        array.sort(() => Math.random() - 0.5);
        return array;
    }

</script>

<style>
    #grid table {
        border-collapse: collapse;
        margin: 20px auto;
    }

    #grid table,
    #grid th,
    #grid td {
        border: 1px solid black;
    }

    #grid th,
    #grid td {
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 20px;
    }

    .green {
        background-color: green;
    }

    .red {
        background-color: red;
    }

    .blink {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .big-timer {
        font-size: 36px;
        font-weight: bold;
        color: #f00;
    }
</style>